html {
    height: 100%;
    min-width: 512px;
    width: 100%;
}

body {
    height: 100%;
    min-width: 512px;
    width: 100%;
}

canvas {
    background-color: black;
    //cursor: none;
}

#sprite {
    background-color: gray;
}

#dev {
    padding: 10px;
}

#save {
    padding: 10px;
}